@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

/* Selection Color */
::selection {
    background-color: #8BE9FD;
    color: #282A36;
}
